.image_frame {
  position: relative;
}

.bg_image {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fadein 120s infinite; /* 12画像 × 各10s = 120s */
  z-index: 1;
}

/* テキスト部分 */

.speech {
  position: absolute;
  display: inline-block;
  font-size: 3rem;
  width: 60%;
  letter-spacing: 0.04em;
  text-shadow: #ffffff 0 0 10px;
  top: 35%;
  left: 23%;
  opacity: 0;
  animation: zoomin 120s infinite; /* 12 × 各10s = 120s */
  z-index: 2;
}

/* フォント */

.comfortaa {
  font-family: 'Comfortaa', cursive;
}

.Comfortsurreal {
  font-family: 'Shizuru', cursive;
}

.Teko {
  font-family: 'Teko', sans-serif;
}

.kosugi {
  font-family: 'Mochiy Pop P One', sans-serif;
}

.Rounded1c {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.NotoSans {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

@media screen and (max-width: 1024px) {
  .speech {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .speech {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 414px) {
  .bg_image {
    left: -50vw;
  }

  .speech {
    font-size: 1rem;
    top: 40%;
  }
}

@media screen and (max-width: 320px) {
  .speech {
    font-size: 0.7rem;
  }
}

/* アニメーション */

.wallpaper1 {
  animation-delay: 0s;
}

.wallpaper2 {
  animation-delay: 10s;
}

.wallpaper3 {
  animation-delay: 20s;
}

.wallpaper4 {
  animation-delay: 30s;
}

.wallpaper5 {
  animation-delay: 40s;
}

.wallpaper6 {
  animation-delay: 50s;
}

.wallpaper7 {
  animation-delay: 60s;
}

.wallpaper8 {
  animation-delay: 70s;
}

.wallpaper9 {
  animation-delay: 80s;
}

.wallpaper10 {
  animation-delay: 90s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomin {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(0);
    opacity: 0;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
